.talk {
  display: grid;
  grid-template-columns: 130px auto 130px;
  grid-gap: 30px;
  grid-row-gap: 15px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 5px;
  padding: 25px;
}

.speakerInfo{
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  justify-self: center;
}

.speakerInfo img {
  height: 100px;
  border-radius: 100px;
  margin: 0px;
}

.speakerInfo h3 {
  margin: 0px;
}

.talkInfo {
  grid-column-start: 2;
  margin-top: 15px;
}

.talkInfo p {
  margin: 0px;
  padding: 0px;
}

.signup {
  margin-top: 25px;
  grid-row-start: 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
}

.signup h4 {
  display: inline-block;
  margin-right: 1rem;
}

.signup form {
  display: inline-block;
}

.signup input {
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.signup input:placeholder {
  color: #ddd;
}

.signup input[type="submit"] {
  background-color: rgb(166, 133, 191);
  border-radius: 15px;
  padding: 7px 25px;
  font-family: 'Merriweather';
  border-color: #7156a7;
}
