.talk {
  display: grid;
  grid-template-columns: 130px auto 130px;
  grid-gap: 30px;
  grid-row-gap: 15px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 5px;
  padding: 25px;
}

.speakerInfo{
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: center;
  justify-self: center;
}

.speakerInfo img {
  height: 100px;
  border-radius: 100px;
  margin: 0px;
}

.speakerInfo h3 {
  margin: 0px;
}

.talkInfo {
  grid-column-start: 2;
  margin-top: 15px;
}

.talkInfo p {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 400px) {
  h2 {font-size: 1em;}
  h3 {font-size: 0.9em;}
}
@media (max-width: 600px) {
  .talk {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    background-color: #f4f4f4;
    color: black;
    border-radius: 5px;
    padding: 5px;
  }

  .talkInfo {
    grid-column-start: 1;
    margin-top: 15px;
  }

  .talkInfo p {
    display: none;
  }
}
